* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: transparent;
}

.active {
    color: plum !important;
}

#loginButton {
    height: 4vh;
    border: 1px solid plum;
    border-radius: 20px;
    font-size: 15px;
    color: rgb(252, 116, 252);
}

#loginButton:hover {
    background-color: plum;
    color: white;
}